@font-face {
  font-family: "Boots And Spurs";
  src: url("../fonts/BootsAndSpurs.ttf") format("truetype");
}

body {
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
}

h1,
h2,
.logo {
  font-family: "Boots And Spurs", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.product-list h2 {
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
}

nav {
  margin-left: 25px;
}

nav ul {
  padding: 0px;
}

nav li {
  display: inline-block;
}

header,
footer {
  background-color: #202020;
  color: #fff;
}

header {
  display: flex;
  align-items: center;
}

/* Links */
a {
  text-decoration: none;
}

header a {
  color: #fff;
  padding: 10px;
}

.cta {
  background-color: #bb0000;
  color: #fff;
  font-size: 1em;
  text-transform: uppercase;
  padding: 10px 80px;
  border-radius: 5px;
}

.cta-small {
  padding: 8px 30px;
  font-size: 0.8em;
}

.active {
  text-decoration: underline;
}

.reviews {
  background-color: #e8e8e8;
  padding: 100px;
}

.featured__products {
  background-color: #fbfbfb;
}

.cta-sale {
  background-color: #127300;
}

footer {
  text-align: center;
}

/* Home page */
.welcome {
  background-image: url("../images/home-header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  min-height: 70vh;
  position: relative;
}

.welcome__content {
  position: absolute;
  text-align: center;
  top: 100px;
  left: 100px;
}

.selling-points {
  margin: 50px auto;
}

.reviews__content,
.selling-points {
  max-width: 1000px;
  display: flex;
}

.selling-points > *, 
.reviews__content > * {
  flex: 1;
}

.selling-points__images {
  border-radius: 100px;
  width: 100%;
}

.reviews {
  text-align: center;
  padding: 50px auto;
}

.reviews__content {
  text-align: left;
  margin: auto;
}
.reviews__content div {
  margin: 50px;
}

.review__images {
  width: 80px;
  border-radius: 50%;
  float: right;
}

.reviews__name {
  display: block;
}

/* Guitars page */
main {
  display: flex;
  max-width: 1000px;
  margin: auto;
}

/* Contact page */
input,
select,
textarea {
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  margin: 10px 10px 10px 0px;
  padding: 10px;
}

textarea {
  height: 65%;
}

.contact {
  max-width: 1000px;
  margin: 50px auto;
  text-align: center;
}

.form-wrapper {
  display: flex;
  text-align: left;
}

.form-wrapper > * {
  flex: 1;
  display: flex;
  flex-direction: column;
}


/* Product Specific Page */
.product-specific {
  display: flex;
  max-width: 1000px;
  margin: 50px auto;
}

.product-specific > * {
  flex: 1;
}

.product-specific__details {
  padding: 0px 30px;
}

.product-specific__details a {
  display: block;
  width: 120px;
  margin: auto;
}

.product-specific__price {
  font-size: 1.5em;
}

img {
  width: 100%;
}

figure {
  margin: 0px 10px;
}

.product-image__thumbnails {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 10px;
}

.product-image__scroll {
  margin: 0px 10px;
}